<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
    <span class="pad"></span>
    <span id="title">COURSERA</span>
    <span class="spacer"></span>
    <span class="menu-item" routerLinkActive="active"><button mat-button routerLink="/courses">Courses</button></span>
    <span class="menu-item" routerLinkActive="active"><button mat-button routerLink="/login">Login</button></span>
    <span class="pad"></span>
    <button mat-icon-button  ><mat-icon routerLink="/courses">book</mat-icon></button>
    <button mat-icon-button  ><mat-icon routerLink="/login">login</mat-icon></button>
    <span class="pad"></span>
  </mat-toolbar-row>
</mat-toolbar>
